.headerContainer {
    width: 100%;
    padding: 20px;
}

.headerContainer>h1 {
    font-size: 1.5rem;
    color: #7fb640;
    font-weight: bold;
}

.filterContainer {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filterContainer>span {
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.tableContainer {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
}

.evenRow {
    background-color: #ffffff;
    cursor: pointer;
}

.oddRow {
    cursor: pointer;
    background-color: #fafafa;
}

.reloadBtn {
    transition: all ease 0.5s;
}

.reloadBtn:hover {
    color: #7fb640;
    rotate: 360deg;
}