.headerContainer {
    width: 100%;
    padding: 20px;
}

.headerContainer>h1 {
    font-size: 1.5rem;
    color: #7fb640;
    font-weight: bold;
}

.filterContainer {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filterContainer>span {
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.tableContainer {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
}


.modalContainer {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.modalContainer .bookingItem {
    width: 50rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modalContainer .bookingItem .title {
    font-size: 1rem;
    font-weight: bold;
}

.modalContainer .bookingItem .content {
    font-size: 1rem;
}

.evenRow {
    background-color: #ffffff;
    cursor: pointer;
}

.oddRow {
    cursor: pointer;
    background-color: #fafafa;
}

.error {
    color: red;
    margin: 0
}