.headerContainer {
	width: 100%;
	padding: 0 20px;
}

.headerContainer>p {
	font-size: 1.5rem;
	color: #7fb640;
	font-weight: bold;
}

.headerContainer .filterContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	float: right;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.headerContainer .filterContainer .fiterItem {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerContainer .filterContainer .fiterItem>span {
	margin-right: 0.5rem;
	width: 50%;
	font-weight: bold;
	text-align: right;
}

.filterContainer .fiterItem .filterInput {
	width: 50%;
}

.tableContainer {
	width: 100%;
	padding: 0 20px;
}

button {
	border: none !important;
	outline: none !important;
}

.tableContainer .table {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 7px;
	margin-bottom: 2rem;
}

.modalContainer {
	width: 100%;
	padding-top: 1rem;
}

.modalContainer .bookingItem {
	width: 50rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.modalContainer .title {
	font-size: 1rem;
	font-weight: bold;
	width: 25%;
}

.modalContainer .bookingItem .content {
	font-size: 1rem;
	width: 75%;
}

.evenRow {
	background-color: #ffffff;
	cursor: pointer;
}

.oddRow {
	cursor: pointer;
	background-color: #fafafa;
}

.formContainer {
	width: 100%;
	padding: 1rem;
}

.formContainer .inputField {
	width: 100%;
}

.reloadBtn {
	transition: all ease 0.5s;
}

.reloadBtn:hover {
	color: #7fb640;
	rotate: 360deg;
}